/* CELL AND DYNAMIC CLASSES */

.cell {
  border: 1px solid black;
  display: inline-block;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  background: linear-gradient(
    0deg,
    rgba(213, 219, 223, 1) 0%,
    rgba(255, 255, 255, 1) 69%
  );
  margin: -2px;
}

.cell h4 {
  margin-top: 0;
  text-align: left;
}

.cell > div {
  width: 10px;
  height: 10px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 50%;
  float: right;
}

.checkedNumber {
  background-color: red;
}
/* GENERAL */

body {
  margin: 0;
}
/* MAIN */

main {
  width: 90%;
  border: 1.5px solid rgb(25, 25, 173);
  margin-inline: auto;
}

/* HEADER */

header {
  background: rgb(112, 131, 230);
  background: radial-gradient(
    circle,
    rgba(112, 131, 230, 1) 0%,
    rgba(88, 180, 163, 1) 100%
  );
}

header h1 {
  font-size: 4rem;
  text-align: center;
  margin: 0;
  padding: 30px 0;
}

/* BUTTON SECTION */

#buttonSection {
  text-align: center;
  padding-bottom: 40px;
}

/* TABLE SECTION */

#tableSection {
  width: 50%;
  text-align: center;
  margin-inline: auto;
  padding-bottom: 30px;
}
